/* ---------------------------------- Body and HTML ------------------------------------------------- */
html {
  position: relative;
  width: 100%;
  min-width: 1030px;
  min-height: 100%;
  line-height: 1.5;
  color: #000;
  font-size: 1em;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px/24px source-han-sans-japanese, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-weight: 200;
}

.qb-mh-100 {
  min-height: 100%;
}

html {
  height: 100%;
}

/* ---------------------------------- Header and Navbar ------------------------------------------------- */
.qb-navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  color: #000;
}

.qb-navbar-brand img {
  width: 160px;
}

.qb-navbar-nav i {
  margin: 0 0 5px;
  font-size: 26px;
  vertical-align: middle;
}

.qb-navbar-nav>li>a {
  height: 52px;
  padding-top: 12px;
}

.qb-navbar-nav>li:last-child>a {
  margin-left: -15px;
  padding: 12px 0px 10px 15px;
}

.qb-navbar-nav>li:last-child>a i {
  margin-left: 5px;
}

.qb-navbar-nav>li>a:hover,
.qb-navbar-nav>li>a:focus,
.qb-nav .open>a,
.qb-nav .open>a:focus,
.qb-nav .open>a:hover {
  color: #23527c;
  background-color: transparent;
}

.qb-navbar .qb-navbar-nav .show.qb-dropdown-menu {
  position: absolute;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
  background-color: #fff;
}

.qb-navbar .qb-navbar-nav .show.qb-dropdown-menu>li>a:hover,
.qb-navbar .qb-navbar-nav .show.qb-dropdown-menu>li>a:focus {
  color: #fff;
  background-color: #00a6ff;
}

.navbar-header {
  width: 220px;
  min-width: 220px;
  background-color: #00a6ff;
}

.qb-navbar-brand {
  height: 52px;
  padding: 15px 15px 15px 34px;
}

.qb-navbar-new {
  display: table;
  position: relative;
  width: 1200px;
  margin: auto;
  padding: 0px 40px;
}

.qb-navbar-nav>li>a {
  color: #000;
}

header .exhibition-info {
  color: #ff6565;
}

header .exhibition-label {
  margin-top: 3px;
}

header .exhibition-date,
header .exhibition-name {
  width: 100%;
  line-height: 12px;
  font-size: 12px;
  font-weight: 200;
}

header .exhibition-date {
  position: absolute;
  top: -1px;
  left: 85px;
  margin-top: 13px;
}

header .exhibition-name {
  margin: 5px 0px;
}

.qb-dropdown-menu {
  right: -60px;
}

.qb-dropdown-menu>li>a {
  padding: 10px 20px;
  color: #3b4043;
  font-weight: 200;
}

.qb-dropdown-menu>li:last-child a {
  border-bottom: none;
}

.qb-dropdown-toggle {
  position: relative;
}

.show.qb-dropdown-menu:before,
.show.qb-dropdown-menu:after {
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  border: medium solid transparent;
  content: " ";
  pointer-events: none;
}

.show.qb-dropdown-menu:after {
  top: -20px;
  right: 64px;
  margin-left: -8px;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(255, 255, 255);
  border-width: 10px;
}

.show.qb-dropdown-menu:before {
  right: 39%;
  margin-left: -8px;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(236, 234, 234);
  border-width: 12px;
}

.qb-page-header {
  display: inline-block;
  position: relative;
  margin: 15px 0px 20px;
  padding: 0;
  border: none;
  word-break: break-word;
}

.qb-page-header h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 200;
}

.qb-page-header .label {
  display: inline-block;
  height: 25px;
  line-height: 26px;
  margin: 0 0 0 10px;
  padding: 0 10px;
  font-size: 15px;
  font-weight: normal;
  vertical-align: top;
}

.qb-page-header .meta {
  margin: 0;
  padding: 0;
  color: #8c8c8c;
  font-size: 12px;
}

.qb-page-header .thumb {
  margin: 15px 0;
}

.qb-page-header .text {
  max-width: 580px;
  line-height: 1.8em;
  margin: 15px auto;
  color: #8c8c8c;
  font-size: 12px;
}

.qb-page-header .thumb img {
  max-width: 100%;
  height: auto;
}

.qb-sub-page-header {
  margin: 30px 0 40px;
}

.qb-sub-page-header h1 {
  font-size: 26px;
  font-weight: 200;
}

/* ---------------------------------- Content and Container ------------------------------------------------- */
.content {
  width: 1200px;
  margin: auto;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 80px;
  padding-left: 40px;
}

.content.inExhibition {
  padding-top: 60px;
}

.container.qb-container {
  display: inline;
}

.qb-container .qb-nav {
  position: relative;
  margin: 0 0 10px;
}

.qb-container h1 {
  line-height: 26px;
  border: none;
  font-size: 26px;
  font-weight: 200;
}

.qb-bg {
  background-color: #fff;
}

.qb-bg-img {
  background-color: #eff2f7;
}

.qb-content-bg {
  padding-left: 220px;
  color: #313e51;
  background-color: #eff2f7;
}

.qb-content-container {
  margin: 0 0 30px;
}

/* ---------------------------------- SideMenu ------------------------------------------------- */
.qb-content-nav {
  width: 100%;
}

.qb-content-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.qb-content-nav ul li {
  display: inline-block;
}

.qb-content-nav ul li a {
  display: block;
  position: relative;
  padding: 0 12px;
  color: #868686;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

#navigation {
  position: relative;
}

#navigation li a:hover {
  color: #aaa;
}

.qb-content-nav ul li.danger a {
  color: #fa301e;
}

.qb-content-nav .qb-badge {
  top: -5px;
  right: 0;
}

.qb-exhibition-global-menu-wrap {
  position: absolute;
  width: 220px;
  height: 100vh;
  padding-top: 0;
  background-color: #313e51;
}

/*スクロールバーの幅*/
.qb-exhibition-global-menu-wrap::-webkit-scrollbar {
  width: 6px;
}

/*スクロールバーのレール*/
.qb-exhibition-global-menu-wrap::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #eee;
}

/*スクロールバーのつまみ*/
.qb-exhibition-global-menu-wrap::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #cbcbcb;
}

.qb-exhibition-global-menu {
  width: 100%;
  margin: 0 0 10px;
  padding-top: 0;
  box-shadow: none;
}

.qb-exhibition-global-menu .container {
  width: 100% !important;
  color: #fff;
  text-align: left;
}

.left-menu-background {
  background-color: #1b222d;
}

.qb-content-nav ul li {
  display: block;
}

.qb-content-nav ul li a {
  padding: 8px 12px;
  color: inherit;
  text-align: left;
}

.qb-content-nav .major-items.active {
  background-color: #263040;
}

.qb-content-nav .nav-wrap>li {
  position: relative;
}

.qb-content-nav .nav-wrap>li span {
  padding-left: 52px;
}

.qb-content-nav .nav-wrap>li ul {
  padding-left: 52px;
  background-color: #263040;
}

.qb-content-nav .nav-wrap li i {
  position: absolute;
  top: 5px;
  left: 23px;
  font-size: 14px;
}

#slide-line {
  position: absolute;
  left: 0;
  width: 4px;
  height: 44px;
  background-color: #00a6ff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-menu-link {
  padding: 10px 0 10px 52px !important;
}

.menu-slide-line {
  position: relative;
  width: 100%;
}

.menu-slide-line:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1.9%;
  height: 44px;
  background: #00a6ff;
  content: '\A';
}

#mail .menu-slide-line:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1.9%;
  height: auto;
  background: #00a6ff;
  content: '\A';
}

.major-items {
  position: relative;
}

.major-items:hover {
  cursor: pointer;
}

.major-items span {
  display: block;
  padding: 10px 0 10px 52px;
}

.major-items ul {
  display: none;
}

.major-items ul.active {
  display: block;
}

.major-items .material-icons {
  position: absolute;
  top: 13px;
  left: 20px;
  color: #9aa3ab;
  font-size: 16px;
  z-index: 1;
}

.major-items ul li.active {
  background-color: #000;
}

.major-items ul li a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 65px !important;
}

.menu-approval {
  position: relative;
}

.visitor-count {
  display: inline-block;
  position: absolute;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 32px;
  height: 14px;
  line-height: 13px;
  margin: 0 !important;
  border-radius: 7px;
  background: #ff6565;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
}

/* ---------------------------------- BreadCrumb ------------------------------------------------- */
.breadcrumb {
  padding: 0;
}

.breadcrumb>.active {
  color: #00a6ff;
}

.bm-breadcrumb {
  margin: 0 0 20px 0;
  color: #c7c7c7;
  font-size: 12px;
  font-weight: 200;
  background-color: transparent;
}

.bm-breadcrumb>li a {
  color: #313e51;
}

.bm-breadcrumb>li+li:before {
  padding: 0 5px;
  color: #313e51;
  content: ' > ';
}

/* ---------------------------------- Step Menu ------------------------------------------------- */
.qb-step-nav-material ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.qb-step-nav-material ul li {
  display: inline-block;
  position: relative;
  width: 200px;
  color: #c7c7c7;
  font-size: 13px;
}

.qb-step-nav-material ul li:not(:first-child):after {
  position: absolute;
  top: 11px;
  right: 50px;
  width: 145px;
  height: 3px;
  background: #ddd;
  content: "";
  z-index: -1;
}

#qb-step-navbar ul li .step-num {
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 1px solid #00a6ff;
  border-radius: 50%;
  padding-top: 5px;
  background: #eff2f7;
  color: #00a6ff;
}

#qb-step-navbar ul li.active:not(:first-child):after {
  background: #00a6ff;
}

#qb-step-navbar ul li:not(:first-child):after {
  top: 15px;
  right: 122px;
  width: 160px;
  height: 1px;
  background: #d6dee5;
}

.qb-step-nav-material ul li .step-text,
.qb-step-nav-material ul li .step-text a {
  color: #a6a6a6;
}

.qb-step-nav-material ul li .text {
  padding-top: 5px;
  font-size: 12px;
}

#qb-step-navbar ul li.active .step-num {
  background: #00a6ff;
}

#qb-step-navbar ul li.active .step-text,
#qb-step-navbar ul li.active .step-text a {
  color: #707070;
}

#qb-step-navbar .step-check {
  color: #fff;
}

/* ---------------------------------- Login ------------------------------------------------- */
.login-box {
  width: 500px;
  margin: 15% auto auto;
}

.login-logo img {
  width: 500px;
}

.login-text {
  color: #fff;
  font-size: 18px;
}

.login-box-header {
  margin-bottom: 30px;
}

.login-box-body {
  width: 450px;
  margin: auto;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.login-box-body.animation {
  transform: translateY(-50px);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

/* ---------------------------------- Custom Select ------------------------------------------------- */
.qb-custom-select:after {
  position: absolute;
  top: 55%;
  right: 0;
  line-height: 1;
  transform: translateY(-50%);
  color: #939caa;
  font-family: 'Material Icons';
  font-size: 24px;
  content: "keyboard_arrow_down";
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga'1;
  -moz-font-feature-settings: 'liga'1;
  -o-font-feature-settings: 'liga'1;
  font-feature-settings: 'liga'1;
  cursor: default;
  pointer-events: none;
}

.qb-custom-select select,
.qb-custom-select option {
  width: 100%;
  margin: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.qb-custom-select-tar {
  text-align: left;
}

.qb-custom-select-date-option {
  padding-right: 22px;
  text-align: center;
}

select.form-control {
  padding-right: 22px;
  padding-left: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* ---------------------------------- Pagination ------------------------------------------------- */
.qb-pagination {
  margin: 0;
}

.qb-pagination li {
  display: inline-block;
  margin: 0 5px 0 0;
}

.qb-pagination li:last-child {
  margin: 0;
}

.qb-pagination>li>a,
.qb-pagination>li>span {
  display: block;
  float: none;
  border-radius: 4px;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

.qb-pagination>li.paginate_button.active a,
.qb-pagination>li.paginate_button.active>a:focus,
.qb-pagination>li.paginate_button.active>span,
.qb-pagination>li.paginate_button.active>span:focus {
  border-color: #ddd;
  color: #fff;
  background-color: #00a6ff;
}

/* ---------------------------------- Table ------------------------------------------------- */
.qb-form-table-container {
  margin: 0 0 30px;
}

.qb-form-table {
  width: 100%;
  margin: 10px 0 15px;
  border: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-collapse: collapse;
  word-break: break-word;
}

.qb-form-table thead tr th {
  padding: 10px 13px;
  border: 1px solid #d6dee5;
  color: #313e51;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  background-color: #eff2f7;
}

.qb-form-table thead tr th.select {
  width: 280px;
}

.qb-form-table tbody tr th,
.qb-form-table tbody tr td,
.qb-form-table.qb-has-tfoot-table tfoot tr th,
.qb-form-table.qb-has-tfoot-table tfoot tr td {
  padding: 6px 13px;
  border: 1px solid #d6dee5;
  color: #424d5d;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  vertical-align: middle;
  background-color: #fff;
}

.qb-form-table tbody tr th.min,
.qb-form-table.qb-has-tfoot-table tfoot tr th.min {
  padding: 10px 5px;
}

.qb-form-table tbody tr th,
.qb-form-table.qb-has-tfoot-table tfoot tr th {
  font-weight: normal;
  border-left: 1px solid #e5e5e5;
}

.qb-form-table tbody tr:nth-child(even) td {
  background: rgba(239, 242, 247, 0.3);
}

.qb-form-table tbody tr td.column-validation-rule {
  text-align: center;
}

.qb-form-table tbody tr.disabled td {
  background-color: #e0e0e0;
}

.qb-form-table.no-border tr>td {
  border: none !important;
  background: none !important;
}

.qb-form-table .text-right {
  text-align: right;
}

.qb-form-table .text-left {
  text-align: left;
}

.qb-form-table tbody tr td.dataTables_empty {
  pointer-events: none;
}

.qb-list-table {
  margin: 0;
  padding: 0;
  border: none;
  white-space: nowrap;
  border-collapse: collapse;
  word-break: keep-all;
}

.qb-list-table thead tr th {
  border-radius: 0 !important;
  border-color: #d6dee5;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
}

.qb-form-table thead tr th.option,
.qb-list-table thead tr th.option {
  width: 0;
}

.qb-form-table thead tr th.btns,
.qb-list-table thead tr th.btns {
  width: 160px;
}

.qb-list-table tbody tr td {
  border: 1px solid #d6dee5;
  vertical-align: middle;
}

.qb-form-table tr.gr th,
.qb-form-table tr.gr td {
  color: #c7c7c7;
}

.qb-list-table.qb-corner thead tr th:first-child {
  overflow: hidden;
  border-radius: 6px 0 0 0;
}

.qb-list-table.qb-corner thead tr th:last-child {
  overflow: hidden;
  border-radius: 0 6px 0 0;
}


/* ---------------------------------- Form ------------------------------------------------- */
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.form-horizontal.form-modal-input {
  padding-right: 40px;
  padding-left: 40px;
}

.qb-form-conf .form-group {
  margin-bottom: 25px;
  color: #0090db;
}

.form-horizontal.qb-form-conf .control-label {
  padding-top: 0;
}

.qb-label-before,
.qb-label-insession,
.qb-label-after {
  font-size: 9px;
  font-weight: 400;
}

.qb-label-before {
  background-color: #fa301e;
}

.qb-label-insession {
  background-color: #6fd638;
}

.qb-label-after {
  background-color: #8c8c8c !important;
}

.qb-label-entry {
  background-color: #00a6ff !important;
}

.qb-label-exit {
  background-color: #8c8c8c !important;
}

.radio label,
.checkbox label,
label.radio-inline,
label.checkbox-inline,
.form-horizontal label.control-label {
  padding-top: 0;
  color: #313e51;
  font-size: 14px;
  font-weight: 200;
}

.form-horizontal .checkbox {
  min-height: auto;
}

.form-group .qb-form-inputs input.form-control[type="text"].qb-form-input-other {
  width: 220px;
  height: 30px;
}

/* ---------------------------------- DataTable ------------------------------------------------- */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}

table.dataTable thead .sorting {
  background-image: url("../img/sort_both.png");
}

table.dataTable thead .sorting_asc {
  background-image: url("../img/sort_asc.png");
}

table.dataTable thead .sorting_desc {
  background-image: url("../img/sort_desc.png");
}

table.dataTable thead .sorting_asc_disabled {
  background-image: url("../img/sort_asc_disabled.png");
}

table.dataTable thead .sorting_desc_disabled {
  background-image: url("../img/sort_desc_disabled.png");
}

td.qb-align-center .checkbox-inline {
  padding-top: 0px;
}

th .checkbox-inline .checkbox-material {
  padding-right: 0px;
}

.dataTables_length {
  display: inline-block;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  font-size: 1.2em;
  text-align: center;
  z-index: 9999;
  background-color: white;
  opacity: 0.5;
}

.even.qb-visitor-line {
  background-color: #fff;
}

.dataTables_wrapper .qb-row-count {
  display: none;
  height: 40px;
  line-height: 40px;
  color: #00a6ff;
  font-weight: 200;
  text-align: center;
}

.qb-list-option.clearfix {
  margin-top: 0px;
  margin-bottom: 10px;
}

.qb-list-option {
  position: relative;
  margin: 0;
}

.qb-list-option .qb-list-title {
  position: absolute;
  top: 0;
  left: 50%;
  line-height: 28px;
  margin: 0;
  padding: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.qb-list-option .qb-btn {
  margin: 0 6px 0 0;
  vertical-align: middle;
}

.qb-list-option-right {
  display: block;
  margin: 5px 0;
  text-align: right;
}

.qb-list-option-right.only {
  margin: 15px 0;
}

.relative {
  position: relative;
  overflow: auto;
  overflow-y: hidden;
}

.lengthMenu {
  float: left;
  padding-top: 10px;
  padding-right: 5px;
  font-weight: 200;
}

.p-count {
  padding-top: 10px;
  padding-left: 5px;
  font-weight: 200;
}

.dt-button-collection {
  max-height: 350px;
}

table.trim-text {
  table-layout: fixed;
}

.trim-text th:not(.no-trimming),
.trim-text td:not(.no-trimming) {
  width: 100px;
  min-width: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#table_count {
  margin: 20px 0;
  font-size: 14px;
  font-weight: 200;
}

#table_count strong {
  font-weight: 700;
}

/* ---------------------------------- DataTable Filter ------------------------------------------------- */
.dataTables_filter {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.dataTables_filter label:after {
  position: absolute;
  top: 8px;
  right: 7px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Material Icons';
  font-size: 24px;
  content: "search";
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga'1;
  -moz-font-feature-settings: 'liga'1;
  -o-font-feature-settings: 'liga'1;
  font-feature-settings: 'liga'1;
}

.dataTables_wrapper .qb-list-option:first-child {
  margin: 0;
}

.dataTables_wrapper {
  position: relative;
}

.dataTables_wrapper .qb-search-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dataTables_wrapper .qb-search-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.qb-search-option {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 18px;
  border-radius: 6px 6px 0 0;
  color: #313e51;
  font-size: 14px;
  font-weight: 200;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.qb-search-option label {
  margin-right: 5px;
  margin-bottom: 0;
  color: #313e51;
}

.qb-search-option .form-control {
  height: 36px;
}

.qb-search-option .qb-btn,
.qb-search-option .tag {
  margin: 0 10px;
}

.qb-search-option .tag {
  display: inline-block;
  line-height: 17px;
  padding: 0 22px 0 0;
  color: #313e51;
  text-decoration: none;
  background-image: url(/img/qb-round-close-icon.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: right center;
}

.qb-search-option label input[type=search] {
  width: 300px;
}

.qb-search-option strong {
  display: inline-block;
  margin: 0 10px 0 0;
}

.qb-search-left .form-control,
.qb-search-right .form-control {
  background-image: none;
}

.qb-search-right .dataTables_length {
  padding-left: 11px;
  border-left: 1px solid #d6dee5;
}

.qb-search-right .select-title {
  display: inline-block;
  vertical-align: middle;
}

.qb-search-right .dataTables_length.dt-bl-none {
  border-left: none;
}

/* ---------------------------------- DataTable Select Box ------------------------------------------------- */
select::-ms-expand {
  display: none;
}

.qb-custom-select,
.dataTables_length span:last-child,
.dataTables_length .l-menu {
  display: inline-block;
  position: relative;
}

.dataTables_length .l-menu:after {
  position: absolute;
  top: 55%;
  right: 0;
  line-height: 1;
  transform: translateY(-50%);
  color: #939caa;
  font-family: 'Material Icons';
  font-size: 24px;
  content: "keyboard_arrow_down";
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga'1;
  -moz-font-feature-settings: 'liga'1;
  -o-font-feature-settings: 'liga'1;
  font-feature-settings: 'liga'1;
  cursor: default;
  pointer-events: none;
}

.button_list_pos.top {
  margin-bottom: 10px;
}

.button_list_pos.bottom {
  margin-top: 10px;
}

/* ---------------------------------- Datatable ColVis  ------------------------------------------------- */
.dt-buttons .buttons-colvis {
  margin: 0px 11px;
}

.col-visibility-setting .shown a:before {
  position: absolute;
  left: 19px;
  width: 6px;
  height: 14px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  content: '';
  border-top: 5px solid white;
  border-left: 1px solid white;
  border-right: 2px solid #00a6ff;
  border-bottom: 2px solid #00a6ff;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.col-visibility-setting li a {
  width: 200px;
  overflow: hidden;
  padding-left: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.col-visibility-setting a:after {
  position: absolute;
  left: 17px;
  width: 19px;
  height: 19px;
  border: 2px solid #00a6ff;
  border-radius: 4px;
  content: '';
  z-index: 0;
}

.dataTables_wrapper .col-visibility-setting .fa-cog {
  font-size: 16px;
}

.col-visibility-setting .dropdown-toggle {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.col-visibility-setting ul {
  height: auto;
  max-height: 350px;
  margin-top: 3px;
  padding: 8px;
  border-radius: 4px !important;
  border-radius: 4px !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  z-index: 1;
  overflow-x: hidden;
  background-color: #fff;
}

.col-visibility-setting:hover {
  color: #313e51;
}

.col-visibility-setting.open .dropdown-toggle:after {
  position: absolute;
  top: 26px;
  right: 6px;
  width: 0;
  height: 0;
  content: '';
  z-index: 3;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  border-bottom: solid 20px #fff;
}

.col-visibility-setting .dropdown-menu-right {
  top: 38px;
  right: -82px;
}

.col-visibility-setting.open .dropdown-toggle {
  border-radius: 50%;
  background: #d6dee5;
}

.col-visibility-setting .dropdown-toggle .md-dark {
  padding: 3px 0;
}

.col-visibility-setting {
  padding: 0 11px;
}

/* ---------------------------------- Common Buttons ------------------------------------------------- */
.qb-btn {
  display: inline-block;
  min-height: 28px;
  line-height: 26px;
  margin: 0 10px;
  padding: 0 10px;
  border: 1px solid #00a6ff;
  border-radius: 4px;
  color: #00a6ff;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}

.qb-btn.space20 {
  padding: 0 20px;
}

.qb-btn.space30 {
  padding: 0 30px;
}

.qb-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #00a6ff;
}

.qb-btn.add {
  padding: 0 15px 0 28px;
  background-image: url(/img/qb-add-min-icon.png) !important;
  background-position: 12px center;
  background-repeat: no-repeat;
  background-size: 13px 13px !important;
}

.qb-btn.add:hover {
  background-image: url(/img/qb-add-min-w-icon.png);
}

.qb-btn-gr {
  display: inline-block;
  min-height: 28px;
  line-height: 26px;
  padding: 0px 10px;
  border: 1px solid #d9dada;
  border-radius: 16px;
  color: #313e51;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #eaebeb;
  cursor: pointer;
}

.qb-btn-gr:hover,
.qb-btn-gr:focus {
  border: 1px solid #d9dada;
  color: #313e51;
  background-color: #e0e1e1;
}

.qb-btn-gr.blue {
  border: 1px solid #019ada;
  color: #fff;
  background-color: #00a6ff;
}

.qb-btn-gr.blue:hover,
.qb-btn-gr.blue:focus {
  background-color: #019ada;
}

.qb-btn-gr.check.blue {
  background-image: url(/img/qb-check-w-icon.png);
}

.qb-btn-gr.red {
  border: 1px solid #e34054;
  color: #fff;
  background-color: #f24459;
}

.qb-btn-gr.red:hover,
.qb-btn-gr.red:focus {
  background-color: #e34054;
}

.qb-btn-gr.check.red {
  background-image: url(/img/qb-check-w-icon.png);
}

.qb-btn-gr.green {
  border: 1px solid #58c524;
  color: #fff;
  background-color: #62db28;
}

.qb-btn-gr.disable {
  color: #c7c7c7;
}

.qb-btn-gr.disable:hover,
.qb-btn-gr.disable:focus {
  border: 1px solid #d9dada;
  color: #c7c7c7;
  background-color: #eaebeb;
  cursor: default;
}

.qb-btn-gr.check {
  padding: 0 15px 0 13px;
  background-image: url(/img/qb-check-gr-icon.png);
  background-position: 8px center;
  background-repeat: no-repeat;
  background-size: 13px 10px;
}

.qb-btn-gr.check.green {
  border: 1px solid #58c524;
  color: #fff;
  background-color: #62db28;
  background-image: url(/img/qb-check-w-icon.png);
}

.qb-btn-gr.check.green:hover,
.qb-btn-gr.check.green:focus {
  background-color: #58c524;
}

.btn-primary,
.btn-default {
  font-size: 14px;
  font-weight: 400;
}

.btn.btn-fab.btn-fab-mini.btn-ic-edit .material-icons,
.btn.btn-fab.btn-fab-mini.btn-ic-delete .material-icons {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.btn.btn-primary.btn-confirm.btn-edit {
  width: 120px;
  padding: 8px;
  border: 1px solid #00a6ff;
  color: #00a6ff;
  background-color: #fff;
}

.btn.btn-primary.btn-fab.btn-round.btn-add-mini {
  width: 34px;
  min-width: 34px;
  height: 34px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24);
  background: url(/img/qb-add-min-w-icon.png) center center no-repeat;
  background-color: #00a6ff;
  background-size: 16px 16px;
}

.btn.btn-primary.btn-fab.btn-round.btn-add-mini:hover,
.btn.btn-primary.btn-fab.btn-round.btn-add-mini:focus,
.btn.btn-primary.btn-fab.btn-round.btn-add-mini:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.btn.btn-primary-reverse,
a.btn.btn-primary-reverse {
  border: 1px solid #00a6ff;
  box-shadow: none;
  color: #00a6ff;
  background-color: #fff;
}

.btn.btn-primary-reverse:active,
a.btn.btn-primary-reverse:active {
  color: #00a6ff;
  background-color: #fff;
}

#button_list .qb-btn.btn-white {
  margin: 0;
  margin-right: 7px;
  border: 1px solid #00a6ff;
  border-radius: 4px;
  color: #00a6ff;
  cursor: pointer;
}

#button_list .qb-btn.btn-white:hover,
#button_list .qb-btn.btn-white:focus,
#button_list .qb-btn.btn-white:active {
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

#button_list .qb-btn.btn-white.disable {
  color: #00a6ff;
  cursor: not-allowed;
}

.btn.btn-cancel,
.btn.btn-confirm {
  width: 140px;
  font-size: 14px;
  font-weight: 400;
}

.btn-single-group,
.btn-double-group {
  margin: 20px 0;
  text-align: center;
}

.btn-double-group .btn.btn-cancel {
  margin-right: 5px;
  background-color: #939caa;
}

.btn-double-group .btn.btn-confirm {
  margin-left: 5px;
  background-color: #00a6ff;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#btn_add_dropdown a .material-icons,
.btn-add .material-icons {
  font-size: 20px;
}

.btn-create,
.btn-upload {
  padding: 10px 15px;
}

#btn_add_dropdown .btn-create {
  margin-right: 10px;
}

#btn_add_dropdown .btn-upload {
  margin-right: 5px;
}

/* ==========================================================================
   MyPage
   ========================================================================== */

.qb-mypage-container {
  position: relative;
  margin: 0 0 25px;
}

.qb-seminar-list {
  width: 60%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.qb-seminar-list li {
  margin: 0;
  padding: 0;
  color: #0090db;
  font-size: 13px;
}

/* ==========================================================================
   Visitor Detail
   ========================================================================== */

.qb-answer-dashboard {
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

.qb-first-answer-dashboard,
.qb-first-survey-detail {
  margin: -35px 0px 20px;
  padding: 50px 0px 0px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

.qb-first-answer-dashboard ._can_download_icon .exportButton {
  top: 55px !important;
}

.qb-answer-dashboard .panel-body {
  padding: 0 15px 25px 15px;
}

.qb-detail-dashboard {
  margin: 0 0 20px 0;
  padding: 50px 0px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

.qb-detail-dashboard .border {
  border-right: 1px solid #e0e0e0;
}

.qb-detail-dashboard .profile {
  display: table;
  position: relative;
  width: 100%;
}

.qb-detail-dashboard .profile .thumb {
  display: table-cell;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  background-position: center center;
  background-image: url(/img/qb-user-icon.png);
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.qb-detail-dashboard .profile .name {
  display: table-cell;
  padding: 0 15px;
  color: #313e51;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}

.qb-detail-dashboard .profile .name small {
  display: block;
  line-height: 1;
  margin: 5px 0 0;
  color: #8c8c8c;
  font-size: 11px;
  font-weight: normal;
}

.qb-detail-dashboard .profile .tag {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 10px;
  height: 20px;
  line-height: 20px;
  margin: -10px 0 0 0;
  padding: 0 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  background-color: #8c8c8c;
}

/* ==========================================================================
   Visitor Note
   ========================================================================== */

.qb-note-container {
  margin: 0 0 30px;
}

.qb-note-container p {
  line-height: 1.5em;
  margin: 0 0 15px;
  color: #8c8c8c;
  font-size: 12px;
  text-align: center;
}

/* ==========================================================================
   Visitor Import
   ========================================================================== */

.qb-import-box {
  margin: 15px 0 30px;
  padding: 60px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 1px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  text-align: center;
  background-color: #fff;
}

.qb-import-box h3 {
  margin: 0 0 5px;
  color: #313e51;
  font-size: 21px;
  font-weight: bold;
}

.qb-import-box p {
  margin: 0 0 35px;
  color: #8c8c8c;
  font-size: 12px;
}

.qb-import-box.imported {
  position: relative;
  padding: 20px;
  background-color: #f4f5f5;
}

.qb-import-box.imported .name {
  display: inline-block;
  line-height: 35px;
  padding: 0 0 0 50px;
  color: #4d4d50;
  font-size: 16px;
  font-weight: bold;
  background-size: 25px 35px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(/img/qa-doc-icon.png);
}

.qb-import-box.imported .qb-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -14px;
}

.qb-import-btn {
  margin: 15px 0;
}

/* ==========================================================================
   Exhibition Home
   ========================================================================== */

.qb-card-content {
  margin: 0;
  padding: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background: #fff;
}

.qb-card-content .qb-form-table {
  box-shadow: none;
}

.qb-tab-nav {
  border-radius: 6px 6px 0 0;
  text-align: right;
}

.qb-tab-nav .fix-height {
  line-height: 34px;
}

.qb-tab-nav .title {
  line-height: 32px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

/* ==========================================================================
   Exhibition List
   ========================================================================== */

.qb-icon-addon {
  display: block;
  position: relative;
  border-radius: 50%;
  color: #555;
  font-family: inherit !important;
}

.qb-icon-addon:after,
.qb-icon-addon:before {
  display: table;
  content: " ";
}

.qb-icon-addon:after {
  clear: both;
}

.qb-icon-addon.addon-md .glyphicon,
.qb-icon-addon .glyphicon,
.qb-icon-addon.addon-md .fa,
.qb-icon-addon .fa {
  position: absolute;
  top: 1px;
  left: 10px;
  width: 20px;
  margin-left: -2.5px;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  z-index: 2;
}

/* ---------------------------------- DatePicker ------------------------------------------------- */
div.datepicker table tr td,
.datepicker table tr th {
  width: auto;
}

div.datepicker-years table tr td {
  width: 225px;
}

div.datepicker-months table tr td {
  width: 200px;
}

div.datepicker table tr td.day,
.datepicker table tr th.day {
  width: 40px;
}

.datepicker table tr td span.new,
.datepicker table tr td span.old {
  color: #aeaeae;
}

.datepicker tfoot tr th.space,
.datepicker tfoot tr th.space:hover,
.datepicker tfoot tr th.space:focus {
  background: #fff !important;
  cursor: not-allowed !important;
}

.datepicker tfoot tr th.closeBtn {
  display: table-cell;
}

.datepicker table tr td span {
  display: block;
  float: left;
  width: 23%;
  height: 54px;
  line-height: 54px;
  margin: 1%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.datepicker .datepicker-switch,
.datepicker .next,
.datepicker .prev,
.datepicker tfoot tr th {
  color: white;
  text-align: center;
  background-color: #00a6ff;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover,
.datepicker .datepicker-switch:focus,
.datepicker .next:focus,
.datepicker .prev:focus,
.datepicker tfoot tr th:focus {
  color: white !important;
  background-color: #0b9dd9 !important;
}

.datepicker tfoot tr th,
.datepicker tfoot tr th:hover,
.datepicker tfoot tr th:focus {
  background: none !important;
  text-align: center !important;
  cursor: default;
}

.datepicker tfoot .today {
  width: 70px;
  margin: auto;
  padding: 5px;
  color: white !important;
  background-color: #00a6ff !important;
  cursor: pointer;
}

.datepicker table tr td,
.datepicker table tr th {
  border: medium none;
  border-radius: 0 !important;
  text-align: center;
}

.datepicker table tr td {
  cursor: pointer;
}

.datepicker .datepicker-days table tr td.today {
  color: white;
  background-image: none;
  background-color: #68c3d9;
}

.datepicker .datepicker-days table tr td.active,
.datepicker .datepicker-days table tr td.active.active {
  color: white;
  background-image: none;
  background-color: #0b9dd9;
}

div.datepicker table thead tr th.dow:last-child {
  color: blue;
}

div.datepicker table thead tr th.dow:first-child {
  color: red;
}

div.datepicker table tr td.new,
div.datepicker table tr td.old {
  color: #aeaeae;
}

div.datepicker table tr .disabled {
  color: #aeaeae !important;
  cursor: not-allowed;
}

div.datepicker table tr .range-start {
  color: #fff;
  border-bottom-left-radius: 50% !important;
  border-top-left-radius: 50% !important;
  background-color: #0896ff !important;
}

div.datepicker table tr .range-end {
  color: #fff;
  border-bottom-right-radius: 50% !important;
  border-top-right-radius: 50% !important;
  background-color: #0896ff !important;
}

div.datepicker table tr .range {
  background: #9af7ff !important;
}

div.datepicker table tr .day:hover {
  background: #8be4ff !important;
}

.datepicker.dropdown-menu {
  margin-top: 2px;
  padding: 0;
  font-size: 14px;
}

/* ---------------------------------- 必須 ------------------------------------------------- */
.required:after {
  color: #f00;
  font-weight: bold;
  content: "　※";
}

/* ---------------------------------- Modal ------------------------------------------------- */
.modal {
  z-index: 2050;
}

.modal-body .modal-only-txt {
  padding: 0 40px;
}

.modal .modal-dialog .modal-body textarea {
  width: auto;
}

.modal-dialog {
  margin-top: 100px;
}

.modal-backdrop {
  z-index: 2040;
}

.qb-modal .modal-title {
  font-size: 26px;
  font-weight: 200;
  text-align: center;
}

.qb-modal .modal-header {
  padding-top: 30px;
  border: none;
}

.qb-modal .modal-footer {
  border: none;
  text-align: center;
}

.qb-modal .modal-footer .btn {
  width: 140px;
  margin: 10px 10px;
  padding: 12px 0px;
  font-size: 14px;
}

.qb-modal .modal-footer .btn.btn-default {
  margin-right: 0px;
  background-color: #939caa;
}

.qb-modal .bootbox-close-button {
  color: #939caa;
  font-size: 20px;
}

.qb-modal .modal-content {
  border-radius: 4px;
}

.qb-modal.qb-modal-alert .modal-dialog {
  width: 250px;
}

.qb-modal.qb-modal-alert .modal-content {
  padding: 15px 25px;
}

.qb-modal.qb-modal-alert .bootbox-close-button {
  margin-top: -22px !important;
  margin-right: -30px !important;
}

.qb-modal-content .qb-btn-close,
.modal-content .qb-btn-close {
  float: right;
  margin: 15px;
  color: #939caa;
  cursor: pointer;
}

.qb-modal .qb-form-group .control-label {
  float: left;
}

.qb-modal .qb-form-group .qb-form-inputs {
  float: left;
}

.modal-open .colorpicker-bs-popover {
  left: auto !important;
}

/* ==========================================================================
   document list
   ========================================================================== */
.qb-modal-content {
  border-radius: 0;
}

.qb-modal-body {
  padding: 30px 30px 10px;
}

.qb-modal-body .qb-form-group {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.qb-modal-body .form-group .qb-form-inputs {
  width: 330px;
}

.qb-modal-body .qb-error-box {
  width: 330px;
  margin-bottom: 10px;
}

.qb-modal-body .form-group .qb-form-inputs input[type="text"].form-control,
.qb-modal-body .form-group .qb-form-inputs input[type="password"].form-control {
  width: 330px;
}

.qb-modal-body .form-group .control-label {
  width: 140px;
  margin-left: 20px;
  padding-right: 20px;
}

/* ---------------------------------- Toggle Switch ------------------------------------------------- */
.switch {
  position: relative;
  width: 42px;
  height: 22px;
  padding-left: 2px;
  cursor: pointer;
}

.switch .custom-switch {
  opacity: 0;
}

.switch-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #cdd6dd;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-slider:before {
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  content: "";
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-text-on {
  left: 5px;
}

.slider-text-off {
  left: 24px;
}

.slider-text-off,
.slider-text-on {
  position: absolute;
  padding-top: 7px;
  color: #fff;
  font-size: 7px;
  font-weight: bold;
  white-space: nowrap;
  -webkit-transition: .4s;
}

input:checked+.switch-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

input:checked+.switch-slider {
  background-color: #00a6ff;
}

.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}

.qb-search-left .dataTables_filter_custom input[type=search] {
  padding: 3px 7px !important;
}

/* ---------------------------------- Common CSV ------------------------------------------------- */
.qb-csv-download-btn-right {
  display: inline-block;
  float: right;
  margin-top: 9px;
}

.qb-csv-download-btn-right .btn.qb-csv-download-btn {
  margin: 0;
  padding: 5px 10px 5px 20px;
  border: 1px solid #00a6ff;
  background: none;
  color: #00a6ff;
}

.qb-csv-download-btn-right .btn.qb-csv-download-btn:focus {
  background: none;
  color: #00a6ff;
}

.qb-csv-download-btn-right .app {
  padding-left: 15px;
}

.csv-upload .qb-import-box-container {
  display: block;
  width: 670px;
  height: auto;
  margin: auto;
}

.csv-upload .qb-csv-import-box {
  margin: 0;
  padding: 78px 30px 72px 30px;
  border-radius: 1px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  text-align: center;
  background-color: #fff;
}

.csv-upload .qb-import-text {
  padding: 45px;
  border: 2px dotted #d6dee5;
}

.csv-upload .qb-import-text .file-upload {
  color: #00a6ff;
  font-size: 36px;
}

#csv_file_label {
  margin-top: 22px;
}

#csv_file_label:hover,
#csv_file_label:focus {
  box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}

.csv-import .qb-list-count {
  display: inline-block;
  margin: 20px 0;
  color: #00a6ff;
  color: #313e51;
  font-size: 14px;
}

.csv-import .qb-list-option {
  margin-top: 15px;
}

.csv-import .qb-search-option {
  border-bottom: 1px solid #d6dee5;
}

.csv-import #DataTables_Table_0_filter label .form-control {
  width: 300px !important;
}

.csv-import #DataTables_Table_0_length {
  padding-left: 15px !important;
}

.csv-import .qb-list-option.csv-clearfix {
  margin-bottom: 10px;
}

/* ---------------------------------- Footer ------------------------------------------------- */
.main-footer {
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  color: #a5aab4;
  font-size: 12px;
  text-align: left;
  background-color: #fff;
}

.footer-text {
  width: 1200px;
  margin: auto;
  padding: 0px 40px;
}

/* ---------------------------------- Tooltip ------------------------------------------------- */
.qb-tooltip .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip-inner {
  max-width: 100%;
  padding: 8px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  white-space: pre-line;
  background-color: #00a6ff;
  opacity: 1;
}

.tooltip.top .tooltip-arrow {
  bottom: -6px;
  left: 50%;
  height: 10px;
  margin-left: -6px;
  border-top-color: #00a6ff;
  border-width: 12px 7px 0;
}

.tooltip.bottom .tooltip-arrow {
  top: -3px;
  left: 50%;
  height: 10px;
  margin-left: -8px;
  border-bottom-color: #0086bd;
  border-width: 0 7px 11px 7px;
}

.tooltip.left .tooltip-arrow {
  right: -5px;
  height: 10px;
  margin-top: -7px;
  background: none;
  border-left-color: #00a6ff;
  border-width: 7px 0 7px 11px;
}

.qb-tooltip-container {
  position: relative;
  margin: 0 0 20px;
  text-align: center;
  z-index: 1;
}

.qb-tooltip-container .qb-tooltip {
  display: inline-block;
  position: relative;
}

.qb-tooltip-link {
  display: inline;
  font-size: 14px;
  cursor: help;
}

.tooltip-inner-class {
  max-width: 100%;
  padding: 8px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background-color: #00a6ff;
}

.qb-tooltip-link .material-icons.help {
  color: #00a6ff;
  font-size: 21px;
  vertical-align: bottom;
}

.qb-tooltip-link .material-icons.tooltip-guide {
  color: #00a6ff;
  font-size: 21px;
  vertical-align: top;
}

/* ---------------------------------- User Guide ------------------------------------------------- */
.user-btn {
  display: inline-block;
  min-width: 28px;
  min-height: 28px;
  cursor: pointer;
  background-image: url(/img/user-face.png);
  background-size: 28px 28px;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-guide {
  display: inline-block;
  min-width: 28px;
  min-height: 28px;
  padding: 3px;
  padding-left: 25px;
  background: url(../user/guide/img/common/icon_guide.png) no-repeat left center;
  background-size: 28px 28px;
  cursor: pointer;
}

.guide .tooltip {
  width: 150px !important;
}

.bs-tooltip-bottom .tooltip-inner,
.guide .tooltip-inner {
  background: #0086bd;
}

.guide .tooltip.left .tooltip-arrow {
  border-left-color: #0086bd;
}

/* ---------------------------------- Common ------------------------------------------------- */
*:focus {
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.clearfix {
  clear: both;
}

.word-break {
  word-break: break-word;
}

pre {
  line-height: 24px;
  font-size: 14px !important;
  font-weight: 200;
}

.qb-d-none {
  display: none;
}

.qb-d-block {
  display: block;
}

.dt-col-red {
  color: #ff6565;
}

.dt-col-green {
  color: #5cce95;
}

.breadcrumb-link {
  color: #313e51;
}

#cps_logo {
  width: auto;
  height: 40px;
}

.has-logo {
  margin-top: -9px;
}

.qb-theme-color {
  color: #00a6ff;
}

.noti-error {
  display: block;
  color: #ff6565;
  font-size: 40px;
  text-align: center;
}

.delete-modal-content-container {
  display: block;
  text-align: center;
}

.payment-event-name,
.payment-seminar-name {
  width: 300px;
  min-width: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.material-icons.check-icon {
  top: -2px;
  padding-left: 6px;
  font-size: 16px;
}

.company-name-div {
  float: left !important;
  margin-right: 5px;
}

.corporate-company-text {
  margin-top: 5px;
  font-size: 12px;
}

.txt-password-notice {
  margin-top: 15px;
  color: #00a6ff;
  font-size: 14px;
  font-weight: 500;
}

/* qbusiness change password */
.qb-change-password {
  margin-right: 30px;
  margin-left: 30px;
}

.has-error .form-control:focus {
  border-color: #d6dee5;
  box-shadow: none;
}

.p-scrollable {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-y: auto;
}

.qb-float-right {
  float: right;
}

.ondragover {
  background-color: #d9d9d9;
}

.pointer {
  cursor: pointer;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.w18px {
  width: 18px;
}

.date-dropdowns select {
  height: 44px;
  margin: 0 8px 0 0;
  padding: 8px 8px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
}

i.color {
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  border: 1px solid #c0c0c0;
  vertical-align: middle;
}

/* = ドラッグ禁止
----------------------------------------------- */
.qb-content-nav,
.breadcrumb,
.qb-btn,
.qb-p-link,
.qb-list-title,
.qb-list-option {
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
}

.qb-visitor-line,
.qb-seminar-line:hover td,
.qb-visitor-line,
.qb-seminar-line:hover th {
  background-color: #dcf3fb;
  cursor: pointer;
}

.draggable {
  text-align: center;
  cursor: move;
}

.qb-exhibition-list-empty {
  height: 100px;
  margin-top: 30px;
  padding: 40px 15px;
  border-radius: 3px;
  background: #fff;
  text-align: center;
}

.mail-merge-btn {
  min-width: 33.33%;
}

.mail-merge-btn .btn {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 12px 0;
  color: #8a8a8a !important;
  text-overflow: ellipsis;
}

.mail-merge-btn .btn:focus {
  background-color: #f2f2f2;
}

.text-danger {
  color: red;
}

.flash-message-dialog {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  width: 400px;
  line-height: 26px;
  margin: auto;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 4px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  z-index: 9999;
  background-color: #4f5f6f;
  cursor: pointer;
}

.flash-message-dialog.alert {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin: auto;
  background-color: red;
}

.qb-warning-icon {
  display: block;
  padding-bottom: 15px;
  color: #ff6565;
  font-size: 40px;
  text-align: center;
}

.qb-warning-box {
  text-align: center;
}

.qb-notification-text {
  display: inline-block;
  min-height: 32px;
  line-height: 23px;
  padding: 6px 10px;
  color: #c7254e;
  background-color: #f9f2f4;
}

.modal-error-msg {
  display: none;
}

.corner .tag {
  display: inline-block;
  right: 10px;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  background-color: #8c8c8c;
}

/*for seminar-name in home and edit.blade */
.allocator {
  white-space: pre-line;
  word-break: break-all;
}

textarea,
.form-horizontal textarea.form-control {
  width: 380px;
  height: 100px;
  resize: none;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.qb-cal-group {
  display: inline-block;
  margin-right: 7px;
}

.qb-cal-group .qb-cal-icon {
  width: 44px;
  height: 44px;
  margin: 0 0 0 -5px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  border-left: 0 none;
  background-color: #eee;
  cursor: pointer;
}

.qb-cal-group>.form-control {
  padding-right: 0;
  border-radius: 4px 0 0 4px;
}

.label {
  position: relative;
  padding: 0.25em 0.6em;
  opacity: 1;
}

.label-success {
  background-color: #6fd638;
}

.form-horizontal .form-control {
  height: 44px;
  padding: 6px 12px;
  background-color: #fff;
}

.form-control {
  background-color: #fff;
}

i.checkbox,
span.checkbox,
td label.checkbox {
  display: inline-block;
  position: relative;
  width: 21px;
  height: 21px;
  border: 2px solid #00a6ff;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;
}

i.checkbox-checked,
span.checkbox-checked,
td label.checkbox-checked {
  display: inline-block;
  position: relative;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(/img/qb-checked-b-icon.png);
  background-size: 17px 17px;
  background-repeat: no-repeat;
}

.qb-fix-width-content-table {
  max-width: 200px !important;
  word-break: break-all;
}

.qb-align-center {
  text-align: center !important;
}

.qb-align-right {
  text-align: right !important;
}

.qb-align-left {
  text-align: left !important;
}

.qb-c-w {
  color: #fff;
}

.qb-form-container {
  margin: 0 0 30px;
}

.qb-form-group .form-inline {
  padding-top: 9px;
}

.qb-cal-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0) url("/img/qb-cal-icon.png") no-repeat scroll center center;
  vertical-align: top;
}

.alert .qb-error-box {
  width: auto;
}

label.error,
.qb-error-box {
  display: block;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 0;
  color: #fa301e;
  font-size: 11px;
  font-weight: 700;
  text-align: left;
  vertical-align: middle;
  background-size: 18px 18px;
}

.qb-label-option-top {
  width: auto !important;
  text-align: left !important;
}

.form-group .qb-form-inputs {
  float: left;
  width: 610px;
}

.form-group .qb-form-inputs .form-control {
  display: inline-block;
  vertical-align: middle;
}

.form-group .qb-form-inputs input[type="text"].form-control,
.form-group .qb-form-inputs input[type="password"].form-control {
  width: 380px;
}

.qb-form-checkbox-group {
  display: inline-block;
  position: relative;
  width: 380px;
  vertical-align: middle;
}

.qb-radio {
  display: none;
}

.qb-radio-icon {
  margin-bottom: 0;
  cursor: pointer;
}

.qb-radio+.qb-radio-icon:before {
  color: #ccc;
  font-family: "Ionicons";
  font-size: 19px;
  vertical-align: middle;
  content: "\f3a6";
}

.qb-radio:checked+.qb-radio-icon:before {
  color: #17bcdf;
  content: "\f3a7";
}

.qb-form-container .form-horizontal .control-label {
  display: inline-block;
  float: left;
  width: 105px;
  margin-left: 270px;
  padding-right: 20px;
  text-align: left;
  vertical-align: middle;
}

.qb-form-container .form-horizontal.qb-form-w120 .control-label {
  width: 160px;
  margin-left: 230px;
}

.qb-form-group .control-label {
  padding-top: 9px;
}

.qb-form-group .control-label-instance-right {
  margin-right: -60px !important;
}

.qb-form-container .form-horizontal .qb-inline-label {
  display: inline-block;
  float: none;
  margin-left: 0;
  padding-top: 0;
  padding-right: 5px;
  padding-left: 2px;
  vertical-align: middle;
}

.qb-form-container .form-horizontal .qb-inline-label-top {
  padding-left: 0;
}

.qb-form-title {
  margin: 15px 0;
  color: #313e51;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.qb-form-table-option {
  margin: 0 0 5px;
  text-align: right;
}

.qb-form-complete {
  margin: 0 0 40px;
  color: #8c8c8c;
  font-size: 12px;
  text-align: center;
}

.qb-list-container {
  margin: 0 0 30px;
}

.qb-list-title {
  margin: 0 0 20px 0;
  color: #313e51;
  font-size: 20px;
  font-weight: 200;
  text-align: left;
}

.logo-title {
  font-size:24px;
  font-weight: 1000;
  color:#fff;
}

/* ---------------------------------- Responsive ------------------------------------------------- */
@media screen and (max-width: 1520px) {

  .content,
  .footer-text {
    width: 1000px;
  }

  .qb-content-bg {
    overflow-x: hidden;
  }

  .lengthMenu.w_set {
    display: block;
    float: none;
    padding: 0;
  }

  .qb-navbar-new {
    width: 1000px !important;
  }
}

@media screen and (max-width: 1210px) {
  .qb-content-bg {
    overflow-x: auto;
  }

  .qb-navbar-new {
    width: 80% !important;
  }
}

@media (max-height: 768px) {
  .login-box {
    width: 500px;
    margin: 10% auto auto;
  }
}