.qb-exhibition-list-wrapper {
  margin: 0 0 20px;
}

.qb-exhibition-list-wrapper table {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.qb-exhibition-list {
  width: 100%;
  border: none;
  border-collapse: separate;
  background-color: #00a6ff;
}

.qb-exhibition-list .header .border {
  width: 110px;
  padding: 6px 12px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}

.qb-exhibition-list .header,
.qb-exhibition-list .header a {
  color: #fff;
}

.qb-exhibition-list .corner-left {
  border-radius: 10px 0 0 0;
}

.qb-exhibition-list .corner-right {
  border-radius: 0 10px 0 0;
}

.qb-exhibition-list thead.header tr td,
.qb-exhibition-list thead.header tr th {
  overflow: hidden;
  font-weight: 500;
  background-color: #00a6ff;
}

.qb-exhibition-list thead.header tr th.open-btn,
.qb-exhibition-list thead.header tr td.group-name,
.qb-exhibition-list thead.header tr th.group-name {
  text-align: left;
}

.qb-exhibition-list-open-btn {
  display: block;
  width: 100%;
  height: 100%;
}

.qb-exhibition-list-open-btn:hover,
.qb-exhibition-list-open-btn:focus {
  text-decoration: none;
}

.qb-exhibition-list tbody>tr>td,
.qb-exhibition-list tbody>tr>th {
  margin: 0;
  padding: 0;
}

.qb-exhibition-list-body tr td {
  padding: 0;
}

.qb-exhibition-list.qb-open .qb-exhibition-list-body {
  display: block;
}

.qb-exhibition-list .qb-exhibition-list-body {
  display: none;
}

.qb-exhibition-list tbody {
  background-color: #fff;
}

.qb-exhibition-list thead.header tr.qb-exhibition-list-header:hover {
  cursor: pointer;
}

.qb-exhibition-inner-list {
  padding: 20px;
}

.qb-exhibition-inner-list tbody tr.row-add-schedule,
.qb-exhibition-inner-list tbody tr.row-add-schedule th {
  background-color: #fff;
}

.qb-exhibition-inner-list tbody tr.row-add-schedule th {
  line-height: 40px;
  padding: 10px;
  text-align: center;
}

.qb-exhibition-inner-list .border {
  padding: 3px 10px;
  border: 1px solid #00a6ff;
  border-radius: 5px;
}

.qb-exhibition-inner-list tbody tr:hover,
.qb-exhibition-inner-list tbody td:hover {
  cursor: pointer;
}

.qb-exhibition-inner-list>p {
  color: #4d4f5c;
  font-size: 18px;
}

.qb-exhibition-inner-list table {
  width: 100%;
  border: 1px solid #d6dee5;
  box-shadow: none;
}

.qb-exhibition-inner-list .fz-lg {
  font-size: 24px;
}

.qb-exhibition-inner-list .label {
  min-width: 59px;
  border-radius: 5px;
  font-size: 14px;
}

.qb-exhibition-inner-list .event-ttl {
  display: inline-block;
  padding-left: 15px;
  flex: 1;
}

.qb-exhibition-inner-list table tbody td .venue {
  display: flex;
  height: auto;
  align-items: center;
}

.qb-exhibition-inner-list table thead th,
.qb-exhibition-inner-list table tbody td {
  padding: 12px 8px;
  border: 1px solid #d6dee5;
}

.qb-exhibition-inner-list table th {
  color: #313e51;
  font-weight: 400;
  text-align: center;
  background-color: #eff2f7;
}

.qb-exhibition-inner-list table thead th:nth-child(1) {
  width: 100px;
}

.qb-exhibition-inner-list table thead th:nth-child(2) {
  width: 400px;
}

.qb-exhibition-inner-list table thead th:nth-child(3) {
  width: 350px;
}

.qb-exhibition-inner-list table thead th:nth-child(4) {
  width: 147.5px;
}

.qb-exhibition-inner-list table thead th:nth-child(5) {
  width: 147.5px;
}

.qb-exhibition-inner-list table thead th:nth-child(6) {
  width: 100px;
}

.qb-exhibition-inner-list table tbody td a {
  color: #00a6ff;
}

.qb-exhibition-list-header th:nth-child(1) {
  width: 50%;
}

.qb-exhibition-list-header th:nth-child(2) {
  width: 15%;
  text-align: center;
}

.qb-exhibition-list-header th:nth-child(3) {
  width: 15%;
  text-align: center;
}

.qb-exhibition-list-header th.ex-group-edit:nth-child(4) {
  width: 12%;
  overflow: visible;
  text-align: center;
}

.qb-exhibition-list-header th:last-child {
  width: 8%;
}

.qb-exhibition-list-header .fz-xlg {
  font-size: 32px;
  font-weight: normal;
}

.qb-exhibition-list-header .arrow {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
}

.qb-exhibition-list-header .arrow {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.qb-open .qb-exhibition-list-header .arrow {
  transform: rotate(-45deg);
}

.qb-exhibition-list-header .group-name {
  font-size: 20px;
  font-weight: 400;
}

.qb-exhibition-list-header .flex {
  display: flex;
  width: auto;
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.qb-exhibition-list-header .flex li {
  position: relative;
  font-size: 14px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.qb-exhibition-list-header .flex li:not(:last-child)::after {
  padding: 0 5px;
  content: "|";
}

.qb-exhibition-list-header p {
  margin-top: 10px;
  margin-right: 10px;
}

.qb-exhibition-list-header>th {
  position: relative;
}

.qb-exhibition-list-header>th:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: 0px;
  height: 50px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  content: "";
  border-right: 1px solid #fff;
}

h1.exhibition-list-top {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #313e51;
  text-align: left;
}

.setting-edit.dropdown-menu {
  top: 35px;
  right: -55px;
  left: auto;
  min-width: 280px;
  padding: 0;
  border-radius: 4px;
  color: #3b4043;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
  z-index: 1000;
  background-color: #fff;
}

.event-edit {
  top: auto;
  right: -68px;
  left: auto;
  min-width: 280px;
  padding: 0;
  border-radius: 4px;
  color: #3B4043;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
  z-index: 1000;
  background-color: #fff;
}

.setting-edit li {
  padding: 10px;
  text-align: left;
}

.setting-edit li:not(:last-child) {
  border-bottom: 1px solid #d6dee5;
}

.event-edit li:last-child {
  border-top: 1px solid #d6dee5;
}

.event-edit li {
  padding: 10px;
  text-align: left;
}

.setting-edit li:hover,
.event-edit li:hover {
  color: #fff;
  text-decoration: none;
  background-color: #00a6ff;
}

.show.setting-edit:before,
.show.setting-edit:after {
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  border: medium solid transparent;
  content: " ";
  pointer-events: none;
}

.show.event-edit:before,
.show.event-edit:after {
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  border: medium solid transparent;
  content: " ";
  pointer-events: none;
}

.show.setting-edit:before {
  right: 80px;
  margin-left: -8px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  border-width: 14px;
}

.show.event-edit:before {
  right: 125px;
  margin-left: -8px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  border-width: 14px;
}

.qb-event-text {
  width: 86%;
  min-height: 36px;
  line-height: 23px;
  margin: 15px 0px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.event-label {
  float: left;
  padding-left: 40px;
  color: #333;
  font-weight: 200;
}

.event-title {
  display: inline-block;
  margin-bottom: 15px;
}

.qb-notification-text {
  white-space: pre-wrap;
}

.exhibition_group_edit.form-horizontal.form-modal-input {
  padding-right: 0;
  padding-left: 0;
}

.event-head-title {
  margin-bottom: 12px;
}

.ex-group-edit.navbar {
  display: table-cell;
}

.ex_group_copy {
  border-top: 1px solid #d6dee5;
}

._can_delete_visitor {
  border-bottom: 1px solid #d6dee5;
}

.visitor_delete_disable {
  opacity: 0.5;
}

.dis-none {
  display: none;
}

.qb-tooltip-link .material-icons.help.icon-v-middle {
  vertical-align: middle;
}

.form-group.has-error label.control-label {
  color: #313E51;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.qb-collapsed .dropdown-menu {
  display: none;
}

.qb-exhibition-dropdown-menu.dropdown-menu[data-bs-popper] {
  margin-top: 2px;
}

.dropdown.qb-js-event-off.navbar {
  display: block;
}

.qb-add-btn-large {
  display: inline-block;
  position: relative;
  line-height: 33px;
  margin-top: 20px;
  padding: 1px 37px 2px 23px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  vertical-align: text-top;
  background-color: #00a6ff;
}

.qb-add-btn-large:hover,
.qb-add-btn-large:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0a99d5;
}

.qb-add-btn-large::after {
  display: inline-block;
  position: absolute;
  top: -1px;
  right: 16px;
  font-size: 28px;
  content: "+";
}

.button-add {
  float: right;
}

.btn-create {
  margin: 0px;
}

@media screen and (max-width: 1520px) {
  .qb-exhibition-list-header .fz-xlg_ttl {
    display: block;
    margin: 0 0 5px;
  }
}