.qb-container {
  width: 600px;
  margin: 0 auto 30px;
}

.form-horizontal label.control-label {
  text-align: left;
}

.qb-form-table tbody tr td.box-10 {
  width: 6% !important;
  padding: 10px;
  vertical-align: top;
  background-color: #EFF2F7;
}

.box-20 {
  padding: 10px !important;
}

.qb-content-bg {
  padding-left: 0;
}

.btn-double-group .btn.btn-confirm,
.btn-double-group .btn.btn-cancel {
  width: 120px;
  padding: 9px;
}

.qb-sub-page-header {
  margin: 30px 0 15px;
}

.btn-form-group {
  position: relative;
}

.btn-form-group .btn-double-group {
  position: absolute;
  top: -88px;
  right: 0px;
}

.qb-form-table {
  margin: 0;
}